body {
  background-color: black;
}

  .exchange {
      font-family: monospace;
      font-size: 1vh;
      font-style: italic;
      color: white;
      text-align: right;
    }

  .lang {
      position: absolute;
      text-align: right;
      top: 3%;
      right: 1.5vw;
      font-family: monospace;
      font-size: 1.5vh;
      font-style: italic;
      color: white;
      margin-bottom: 100px;
    }

      a:link {
        color: rgb(255, 255, 255);
      }

      a:visited {
        color: rgb(255, 255, 255);
      }

      a:hover {
        color: green;
      }

  .title {
    display: block;
    position: absolute;
    /* justify-content: center; */
    align-items: center;
    top: 20vw;
    left: 1vw;
    font-size: 5.7vw;
    text-align: center;
    color: white;
    font-family: monospace;
    font-weight: bold;
  }

  .text {
    display: block;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 24vh;
    bottom: 30vh;
    /* text-align: center; */
    font-family: monospace;
    font-size: 3vh;
    font-style: italic;
    color: white;
    margin-top: 50px;
    margin-bottom: 150px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .info {
    position: absolute;
    top: 8%;
    left: 5%;
    right: 5%;
    /* text-align: center; */
    font-family: monospace;
    font-size: 14px;
    line-height: 1.5;
    font-style: italic;
    color: white;
  }

  .info-list {
    position: absolute;
    top: 15%;
    left: 5%;
    right: 5%;
    /* text-align: center; */
    font-family: monospace;
    font-size: 14px;
    line-height: 1.5;
    font-style: italic;
    color: white;
  }

  .info-exchange {
    position: absolute;
    top: 25%;
    left: 5%;
    right: 5%;
    /* text-align: center; */
    font-family: monospace;
    font-size: 14px;
    line-height: 1.5;
    font-style: italic;
    color: white;
  }

  .data {
    position: absolute;
    top: 48%;
    left: 5%;
    right: 5%;
    /* text-align: center; */
    font-family: monospace;
    font-size: 14px;
    line-height: 1.5;
    font-style: italic;
    color: white;
  }

  .data-list {
    position: absolute;
    top: 50%;
    left: 5%;
    right: 5%;
    /* text-align: center; */
    font-family: monospace;
    font-size: 14px;
    line-height: 1.5;
    font-style: italic;
    color: white;
  }

  .data-exchange {
    position: absolute;
    top: 65%;
    left: 5%;
    right: 5%;
    /* text-align: center; */
    font-family: monospace;
    font-size: 14px;
    line-height: 1.5;
    font-style: italic;
    color: white;
  }

  .poetic-text {
    position: absolute;
    left: 50%;
    bottom: 1%;
    text-align: center;
    transform: translateX(-50%);
    font-family: monospace;
    font-size: 1vh;
    color: white;
    opacity: 50%;
  }

  .startcam-button {
    position: absolute;
    left: 5vw;
    top: 63%;
    font-family: monospace;
    /* background-color: white; */
    color: rgb(34, 158, 0); 
    border-color: rgb(48, 221, 0);
    border-style: solid; 
    /* border-radius: 10px; */
    height: 5vh;
    width: 25vw; 
    font-size: 2vh; 
    cursor: pointer;
    font-weight: bold; 
    transition: 0.5; 
  }

  .startcam-button:hover {
    background-color: rgb(48, 221, 0);
    color: white;
  } 

  .upload-button {
    position: absolute;
    left: 5%;
    bottom: 20%;
    font-family: monospace;
    /* background-color: white; */
    color: rgb(160, 0, 0); 
    border-color: rgb(255, 0, 0);
    border-style: solid; 
    /* border-radius: 10px; */
    height: 5vh;
    width: 25vw; 
    font-size: 2vh; 
    cursor: pointer;
    font-weight: bold; 
    transition: 0.5; 
  }

  .upload-button:hover {
    background-color: red;
    color: white;
  }

  #about-button {
    position: absolute;
    top: 60%;
    right: 5%;
    font-family: monospace;
    /* background-color: white; */
    color: rgb(0, 0, 165); 
    border-color: blue;
    border-style: solid; 
    /* border-radius: 10px; */
    height: 5vh;
    width: 25vw; 
    font-size: 2vh; 
    cursor: pointer;
    font-weight: bold; 
    transition: 0.5; 
  }
  
  #about-button:hover {
    background-color: blue;
    color: white;
  }

  #ai-button {
    position: absolute;
    top: 67%;
    right: 5%;
    font-family: monospace;
    /* background-color: white; */
    color: rgb(0, 0, 165); 
    border-color: blue;
    border-style: solid; 
    /* border-radius: 10px; */
    height: 5vh;
    width: 25vw; 
    font-size: 2vh; 
    cursor: pointer;
    font-weight: bold; 
    transition: 0.5; 
  }
  
  #ai-button:hover {
    background-color: blue;
    color: white;
  }

  #metadata-button {
    position: absolute;
    top: 74%;
    right: 5%;
    font-family: monospace;
    /* background-color: white; */
    color: rgb(0, 0, 165); 
    border-color: blue;
    border-style: solid; 
    /* border-radius: 10px; */
    height: 5vh;
    width: 25vw; 
    font-size: 2vh; 
    cursor: pointer;
    font-weight: bold; 
    transition: 0.5; 
  }
  
  #metadata-button:hover {
    background-color: blue;
    color: white;
  }

  #research-button {
    position: absolute;
    top: 81%;
    right: 5%;
    font-family: monospace;
    /* background-color: white; */
    color: rgb(0, 0, 165); 
    border-color: blue;
    border-style: solid; 
    /* border-radius: 10px; */
    height: 5vh;
    width: 25vw; 
    font-size: 2vh; 
    cursor: pointer;
    font-weight: bold; 
    transition: 0.5; 
  }
  
  #research-button:hover {
    background-color: blue;
    color: white;
  }

  #updates-button {
    position: absolute;
    top: 88%;
    right: 5%;
    font-family: monospace;
    /* background-color: white; */
    color: rgb(0, 0, 165); 
    border-color: blue;
    border-style: solid; 
    /* border-radius: 10px; */
    height: 5vh;
    width: 25vw; 
    font-size: 2vh; 
    cursor: pointer;
    font-weight: bold; 
    transition: 0.5; 
  }
  
  #updates-button:hover {
    background-color: blue;
    color: white;
  }


  #aboutpopupFrame {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85vw;
    height: 85vh;
  }

  #metadatapopupFrame {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85vw;
    height: 85vh;
  }

  #aipopupFrame {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85vw;
    height: 85vh;
  }

  #researchpopupFrame {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85vw;
    height: 85vh;
  }

  #updatespopupFrame {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85vw;
    height: 85vh;
  }

  img {
    position: absolute;
    /* top: 50%; */
    left: 5%;
    /* transform: translateY(-50%); */
    bottom: 120px;
    width: 90vw;
    opacity: 60%;
    z-index: -1000;
  }

  /* Centered Camera Container */
.camera-container {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  max-width: 600px;
  height: auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid rgb(251, 251, 251);
  border-radius: 2px;
  box-shadow: 0 0 15px rgba(149, 149, 149, 0.5);
  z-index: 9999; /* To ensure it stays on top of other elements */
}

#video {
  width: 100%;
  height: auto;
  background-color: black;
  border: 2px solid rgb(255, 255, 255);
  z-index: 10;  /* Ensure the video stays above other elements */
}


/* Camera Control Buttons */
.switchcam-button, .capture-button {
  font-family: monospace;
  color: rgb(34, 158, 0);
  border-color: rgb(48, 221, 0);
  border-style: solid;
  height: 40px;
  width: 180px;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
  transition: 0.5;
}

.switchcam-button:hover, .capture-button:hover {
  background-color: rgb(48, 221, 0);
  color: white;
}

/* Close button style for the camera modal */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  z-index: 10000; /* Make sure it stays above everything */
}

.close-button:hover {
  color: rgb(238, 255, 0);
}



/* Map iframe styling, matching other iframes */
/* Map iframe styling */
#mappopupFrame {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85vw;   /* Fixed width of the iframe */
  height: 85vh;  /* Fixed height of the iframe */
  border: none;
  z-index: 1000;
}


/* Style for MAP button */
#map-button {
  position: absolute;
  bottom: 300px;
  right: 42%;
  font-family: monospace;
  color: black;
  border-color: white;
  border-style: solid; 
  height: 5vh;
  width: 15vw; 
  font-size: 1.8vh; 
  cursor: pointer;
  font-weight: bold; 
  transition: 0.5;
}

#map-button:hover {
  background-color: rgb(103, 103, 103);
  color: white;
}

/* Custom styling for marker images in popups */
.marker-img {
  width: 100px;       /* Set a fixed width */
  height: auto;       /* Maintain aspect ratio */
  border-radius: 8px; /* Add rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional shadow for depth */
  margin-top: 5px;    /* Space between text and image */
  position: static !important;
  opacity: 100%;
}
